<h1> Welcome to the Book Club App! </h1>
<br>
<h4> From the dropdown menu, you can browse all the existing clubs, show the clubs that you belong to, or create your own! </h4>
<br>
<br>
<%= link_to "See What People Are Reading", books_path %>
<br>
<%= link_to "Club With Most Books", club_with_most_books_path %>
