<ul>

    <% @clubs.each do |c| %>
        <li> <%= c.name %> - <%= link_to "Visit Club", club_path(c) %> </li>
        <br>
    <% end %>

    <%= link_to "See What People Are Reading", books_path %>
</ul>